{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Feed Page{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<nav class="navbar bg-body">
    <div class="container-fluid justify-content-center">
        <form class="d-flex me-3" role="search" method="get" action="{% url 'search' %}">
            <input class="form-control me-2" type="text" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <form method="get" action="{% url 'filter_document' %}">
            <div class="input-group">
                <select class="form-select" name="category">                
                    <option value="">All Categories</option>
                    {% for cat in doc_cat %}
                    <option value="{{cat.id}}">{{cat}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </form>
    </div>
</nav>
<br>
    
    <div class="container">
        <div class="row">
            {% for document in documents %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ document.title }}</h5>
                        <p class="card-title">{{ document.file.url | filename}}</p>
                        <p class="card-text">Category : {{ document.category }}</p>
                    </div>
                    <div class="card-footer">
                        <div><a href="{% url 'view_documents' document.id %}">View document</a></div>
                        <div><a href="{% url 'download_document' document.id %}" >Download</a></div>
                        <div><a href="{% url 'send_email' document.id %}?document_name={{ document.file.url }}">Send To Email</a></div>
                        
                    </div>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    {% endif %}
                </div>                         
            </div>
            {% endfor %}
        </div>
        
    </div>
    
{% else %}
    <div>
        <p><h3>You are not logged in, </h3></p>
        <p><a class="" href="{% url 'login' %}" role="">login</a> to see your document</p>
    </div>
{% endif %}

{% endblock %}