{% extends 'base.html' %}
{%block title%}reset confirm {% endblock %}
{% block content %}

<div class="container">
    <h1 class="display-4">Enter new password</h1>
    <p class="lead">Please enter your new password twice so we can verify you typed it in correctly.</p>
    <div class="row justify-content-center">
        <div class="col form-col">  </div>
        <form action="" method="post">
            {% csrf_token %} 
                {{form}}  
                <br>
            <input type="submit" value="Change my password">
        </form>

    </div>
</div>


{%endblock%}




